<a href="https://colab.research.google.com/github/EdnilsonRosa/Data-Science/blob/master/Avalia%C3%A7%C3%A3o%20Big%20Data%202019%2005%2024%2016%3A00.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Avaliação Big Data - Phyton 2

## Inicializando o ambiente e carregando as bibliotecas

In [1]:
#!apt-get install openjdk-8-jdk-headless -qq > /dev/null
!wget -q http://archive.apache.org/dist/spark/spark-2.4.2/spark-2.4.2-bin-hadoop2.7.tgz
!tar xf spark-2.4.2-bin-hadoop2.7.tgz
!pip install -q findspark

!java -version

import os
os.environ["JAVA_HOME"] = "/usr/lib/jvm/java-1.11.0-openjdk-amd64/"
os.environ["SPARK_HOME"] = "/content/spark-2.4.2-bin-hadoop2.7"

import findspark
findspark.init()
from pyspark.sql import SparkSession
spark = SparkSession.builder.master("local[*]").getOrCreate()

### Chamada da biblioteca

from pyspark.sql import SparkSession
import pyspark.sql.functions as F
from pyspark.sql.types import StringType
from pyspark.sql.types import IntegerType

### Inicializaçaõ da Sessão do Spark - 

spark = SparkSession.builder \
                    .appName("Tutorial PySpark SQL") \
                    .config("spark.some.config.option", "some-value") \
                    .getOrCreate()

openjdk version "11.0.3" 2019-04-16
OpenJDK Runtime Environment (build 11.0.3+7-Ubuntu-1ubuntu218.04.1)
OpenJDK 64-Bit Server VM (build 11.0.3+7-Ubuntu-1ubuntu218.04.1, mixed mode, sharing)

In [2]:
!pip install jellyfish
import jellyfish

Collecting jellyfish
  Downloading https://files.pythonhosted.org/packages/61/3f/60ac86fb43dfbf976768e80674b5538e535f6eca5aa7806cf2fdfd63550f/jellyfish-0.6.1.tar.gz (132kB)
     |████████████████████████████████| 133kB 2.8MB/s
Building wheels for collected packages: jellyfish
  Building wheel for jellyfish (setup.py) ... done
  Stored in directory: /root/.cache/pip/wheels/9c/6f/33/92bb9a4b4562a60ba6a80cedbab8907e48bc7a8b1f369ea0ae
Successfully built jellyfish
Installing collected packages: jellyfish
Successfully installed jellyfish-0.6.1

In [0]:
import pandas as pd

## Montando o Drive e carregando o arquivo

In [4]:
### Montagem de drive do Google
### Será solicitada autorização
### O Colab tem como raiz uma pasta 'content'

from google.colab import drive
drive.mount('/content/gdrive')

Go to this URL in a browser: https://accounts.google.com/o/oauth2/auth?client_id=947318989803-6bn6qk8qdgf4n4g3pfee6491hc0brc4i.apps.googleusercontent.com&redirect_uri=urn%3Aietf%3Awg%3Aoauth%3A2.0%3Aoob&scope=email%20https%3A%2F%2Fwww.googleapis.com%2Fauth%2Fdocs.test%20https%3A%2F%2Fwww.googleapis.com%2Fauth%2Fdrive%20https%3A%2F%2Fwww.googleapis.com%2Fauth%2Fdrive.photos.readonly%20https%3A%2F%2Fwww.googleapis.com%2Fauth%2Fpeopleapi.readonly&response_type=code

Enter your authorization code:
··········
Mounted at /content/gdrive

In [0]:
dfa = spark.read.csv('gdrive/My Drive/Colab Notebooks/base_sintetica_ascii_a.csv', header=True, sep=',')

In [0]:
dfb = spark.read.csv('gdrive/My Drive/Colab Notebooks/base_sintetica_ascii_b.csv', header=True, sep=',')

In [7]:
dfa.count()

540

In [8]:
dfb.count()

143

In [9]:
dfa.show(5)

+---+--------------+---------+---------+--------------+----------+--------------------+--------------------+------+-----+--------------------+--------------------+------+---------+--------------+----+
| id|        bairro|      cep|   cidade|           cpf| data_nasc|               email|            endereco|estado|idade|                 mae|                nome|numero|    signo|tipo_sanguineo|_c15|
+---+--------------+---------+---------+--------------+----------+--------------------+--------------------+------+-----+--------------------+--------------------+------+---------+--------------+----+
|  0|   Vila Sarney|65090-677| Sao Luis|097.627.958-49|10/09/1948|vicenteolivermont...|2a Travessa do Ri...|    MA|   71|     Louise Beatriz |Vicente Oliver Mo...|   738|   Virgem|           AB-|null|
|  1|Vila Sao Jorge|75044-220| Anapolis|685.096.335-09|24/04/1995|miguelbernardogon...|  Praca Joao Salomao|    GO|   24|     Raquel Barbara |Miguel Bernardo G...|   805|    Touro|            A-|null|
|  2|   Cabralzinho|68906-846|   Macapa|956.997.968-27|13/03/1984|ericktheomarcosvi...|    Alameda Calcoene|    AP|   35|Maite Valentina R...|Erick Theo Marcos...|   669|   Peixes|            B+|null|
|  3|     Mae Luiza|59014-227|    Natal|631.875.885-22|27/09/1965|mariorobertoisaac...|1a Rua Sao Francisco|    RN|   54|Alicia Cristiane ...|Mario Roberto Isa...|   978|    Libra|           AB+|null|
|  4| Jardim Monaco|86702-790|Arapongas|397.480.478-14|24/11/1965|eeliasandersonmat...|Rua Mariquita-dos...|    PR|   54|     Tatiane Josefa |Elias Anderson Ma...|   558|Sagitario|            A+|null|
+---+--------------+---------+---------+--------------+----------+--------------------+--------------------+------+-----+--------------------+--------------------+------+---------+--------------+----+
only showing top 5 rows

In [10]:
dfb.limit(5).toPandas()

   id        cep  ...                       nome tipo_sanguineo
0  01  69304-350  ...    Felipe Bruno dos Santos            AB-
1  02  78132-360  ...     Marcio Heitor Silveira            AB-
2  03  88810-336  ...  Theo Mario Victor Barbosa             A-
3  04  60874-405  ...   Pietro Henrique de Paula            AB-
4  05  79106-140  ...     Kaique Thiago de Paula             A-

[5 rows x 10 columns]

In [11]:
dfa.printSchema()
dfb.printSchema()

root
 |-- id: string (nullable = true)
 |-- bairro: string (nullable = true)
 |-- cep: string (nullable = true)
 |-- cidade: string (nullable = true)
 |-- cpf: string (nullable = true)
 |-- data_nasc: string (nullable = true)
 |-- email: string (nullable = true)
 |-- endereco: string (nullable = true)
 |-- estado: string (nullable = true)
 |-- idade: string (nullable = true)
 |-- mae: string (nullable = true)
 |-- nome: string (nullable = true)
 |-- numero: string (nullable = true)
 |-- signo: string (nullable = true)
 |-- tipo_sanguineo: string (nullable = true)
 |-- _c15: string (nullable = true)

root
 |-- id: string (nullable = true)
 |-- cep: string (nullable = true)
 |-- cidade: string (nullable = true)
 |-- cpf: string (nullable = true)
 |-- data_nasc: string (nullable = true)
 |-- endereco: string (nullable = true)
 |-- estado: string (nullable = true)
 |-- mae: string (nullable = true)
 |-- nome: string (nullable = true)
 |-- tipo_sanguineo: string (nullable = true)

## Tratamento de Atributo Missing

In [12]:
dfa.filter(F.col('nome').isNull()).count()

0

In [13]:
dfb.filter(F.col('nome').isNull()).count()

2

In [0]:
# Trocando nomes nulos por espaço em branco (os valores anteriores são sobrescritos ao utilizar o mesmo nome de coluna)
dfb = dfb.withColumn('nome', F.when(F.col('nome').isNull()," ").otherwise(F.col('nome')))

In [15]:
dfb.filter(F.col('nome').isNull()).count()

0

## **Outros Tratamentos**

In [0]:
# Guardando data frames originais sem pré=processamento
dfa_o = dfa
dfb_o = dfb

In [0]:
# Eliminação de possíveis espaços duplos nos nomes
dfa = dfa.withColumn("nome", F.regexp_replace(F.col("nome"), '\s+', ' '))
dfb = dfb.withColumn("nome", F.regexp_replace(F.col("nome"), '\s+', ' '))
dfa = dfa.withColumn("mae", F.regexp_replace(F.col("mae"), '\s+', ' '))
dfb = dfb.withColumn("mae", F.regexp_replace(F.col("mae"), '\s+', ' '))
dfa = dfa.withColumn("cidade", F.regexp_replace(F.col("cidade"), '\s+', ' '))
dfb = dfb.withColumn("cidade", F.regexp_replace(F.col("cidade"), '\s+', ' '))
dfa = dfa.withColumn("endereco", F.regexp_replace(F.col("endereco"), '\s+', ' '))
dfb = dfb.withColumn("endereco", F.regexp_replace(F.col("endereco"), '\s+', ' '))

# Substituição de possiveis caracteres especiais por espaço em branco
dfa = dfa.withColumn("nome", F.regexp_replace(F.col("nome"), r'[^a-zA-Z ]+', ' '))
dfb = dfb.withColumn("nome", F.regexp_replace(F.col("nome"), r'[^a-zA-Z ]+', ' '))
dfa = dfa.withColumn("mae", F.regexp_replace(F.col("mae"), r'[^a-zA-Z ]+', ' '))
dfb = dfb.withColumn("mae", F.regexp_replace(F.col("mae"), r'[^a-zA-Z ]+', ' '))
dfa = dfa.withColumn("cidade", F.regexp_replace(F.col("cidade"), r'[^a-zA-Z ]+', ' '))
dfb = dfb.withColumn("cidade", F.regexp_replace(F.col("cidade"), r'[^a-zA-Z ]+', ' '))
dfa = dfa.withColumn("endereco", F.regexp_replace(F.col("endereco"), r'[^a-zA-Z ]+', ' '))

## Renomeando colunas para o linkage (necessita nomes diferentes)

In [0]:
dfb = dfb.withColumnRenamed('id','id_b')
dfb = dfb.withColumnRenamed('cep','cep_b')
dfb = dfb.withColumnRenamed('cidade','cidade_b')
dfb = dfb.withColumnRenamed('cpf','cpf_b')
dfb = dfb.withColumnRenamed('data_nasc','data_nasc_b')
dfb = dfb.withColumnRenamed('endereco','endereco_b')
dfb = dfb.withColumnRenamed('estado','estado_b')
dfb = dfb.withColumnRenamed('mae','mae_b')
dfb = dfb.withColumnRenamed('nome','nome_b')
dfb = dfb.withColumnRenamed('tipo_sanguineo','tipo_sanguineo_b')

In [19]:
dfa.printSchema()
dfb.printSchema()

root
 |-- id: string (nullable = true)
 |-- bairro: string (nullable = true)
 |-- cep: string (nullable = true)
 |-- cidade: string (nullable = true)
 |-- cpf: string (nullable = true)
 |-- data_nasc: string (nullable = true)
 |-- email: string (nullable = true)
 |-- endereco: string (nullable = true)
 |-- estado: string (nullable = true)
 |-- idade: string (nullable = true)
 |-- mae: string (nullable = true)
 |-- nome: string (nullable = true)
 |-- numero: string (nullable = true)
 |-- signo: string (nullable = true)
 |-- tipo_sanguineo: string (nullable = true)
 |-- _c15: string (nullable = true)

root
 |-- id_b: string (nullable = true)
 |-- cep_b: string (nullable = true)
 |-- cidade_b: string (nullable = true)
 |-- cpf_b: string (nullable = true)
 |-- data_nasc_b: string (nullable = true)
 |-- endereco_b: string (nullable = true)
 |-- estado_b: string (nullable = true)
 |-- mae_b: string (nullable = true)
 |-- nome_b: string (nullable = true)
 |-- tipo_sanguineo_b: string (nullable = true)

## Fazendo Linkage

In [0]:
# CrossJoin somente com colunas que serão utilizadas na análise

dfl = dfa.select('id','cep','cidade','data_nasc','endereco','estado','idade','mae','nome','tipo_sanguineo','cpf').crossJoin( \
      dfb.select('id_b','cep_b','cidade_b','data_nasc_b','endereco_b','estado_b','mae_b','nome_b','tipo_sanguineo_b','cpf_b'))

In [21]:
dfl.limit(5).show()

+---+---------+--------+----------+--------------------+------+-----+---------------+--------------------+--------------+--------------+----+---------+-------------+-----------+--------------------+--------+--------------------+--------------------+----------------+--------------+
| id|      cep|  cidade| data_nasc|            endereco|estado|idade|            mae|                nome|tipo_sanguineo|           cpf|id_b|    cep_b|     cidade_b|data_nasc_b|          endereco_b|estado_b|               mae_b|              nome_b|tipo_sanguineo_b|         cpf_b|
+---+---------+--------+----------+--------------------+------+-----+---------------+--------------------+--------------+--------------+----+---------+-------------+-----------+--------------------+--------+--------------------+--------------------+----------------+--------------+
|  0|65090-677|Sao Luis|10/09/1948| a Travessa do Ri...|    MA|   71|Louise Beatriz |Vicente Oliver Mo...|           AB-|097.627.958-49|  01|69304-350|    Boa Vista| 22/11/1965|Avenida Mario Hom...|      RR|Isabelle Marcia A...|Felipe Bruno dos ...|             AB-|506.865.202-46|
|  0|65090-677|Sao Luis|10/09/1948| a Travessa do Ri...|    MA|   71|Louise Beatriz |Vicente Oliver Mo...|           AB-|097.627.958-49|  02|78132-360|Varzea Grande|       null|      Rua Rio Cuiaba|      MT|       Alana Isadora|Marcio Heitor Sil...|             AB-|325.828.867-42|
|  0|65090-677|Sao Luis|10/09/1948| a Travessa do Ri...|    MA|   71|Louise Beatriz |Vicente Oliver Mo...|           AB-|097.627.958-49|  03|88810-336|     Criciuma| 23/09/1961|Rua Romeu Lopes d...|      SC|  Caroline Gabriela |Theo Mario Victor...|              A-|284.536.218-88|
|  0|65090-677|Sao Luis|10/09/1948| a Travessa do Ri...|    MA|   71|Louise Beatriz |Vicente Oliver Mo...|           AB-|097.627.958-49|  04|60874-405|    Fortaleza| 11/05/1981|                null|      CE|       Tereza Bruna |Pietro Henrique d...|             AB-|390.375.925-20|
|  0|65090-677|Sao Luis|10/09/1948| a Travessa do Ri...|    MA|   71|Louise Beatriz |Vicente Oliver Mo...|           AB-|097.627.958-49|  05|79106-140| Campo Grande| 14/12/1941|     Rua Pato Branco|      MS|      Alice Leticia |Kaique Thiago de ...|              A-|756.005.387-40|
+---+---------+--------+----------+--------------------+------+-----+---------------+--------------------+--------------+--------------+----+---------+-------------+-----------+--------------------+--------+--------------------+--------------------+----------------+--------------+

## Criação de Funções para extração do primeiro e último nome

In [0]:
def criaPrimeiroNome(col):
  return col.split(' ') [0]
udf_criaPrimeiroNome = F.udf(criaPrimeiroNome, StringType())

In [0]:
def criaUltimoNome(col):
  return col.split(' ') [-1]
udf_criaUltimoNome = F.udf(criaUltimoNome, StringType())

## Criação das Colunas dos Primeiros e Ultimos Nomes

In [0]:
dfl = dfl.withColumn('primeiro_nome_a', udf_criaPrimeiroNome(F.col('nome')))
dfl = dfl.withColumn('primeiro_nome_b', udf_criaPrimeiroNome(F.col('nome_b')))
dfl = dfl.withColumn('ultimo_nome_a', udf_criaUltimoNome(F.col('nome')))
dfl = dfl.withColumn('ultimo_nome_b', udf_criaUltimoNome(F.col('nome_b')))

In [25]:
dfl.printSchema()

root
 |-- id: string (nullable = true)
 |-- cep: string (nullable = true)
 |-- cidade: string (nullable = true)
 |-- data_nasc: string (nullable = true)
 |-- endereco: string (nullable = true)
 |-- estado: string (nullable = true)
 |-- idade: string (nullable = true)
 |-- mae: string (nullable = true)
 |-- nome: string (nullable = true)
 |-- tipo_sanguineo: string (nullable = true)
 |-- cpf: string (nullable = true)
 |-- id_b: string (nullable = true)
 |-- cep_b: string (nullable = true)
 |-- cidade_b: string (nullable = true)
 |-- data_nasc_b: string (nullable = true)
 |-- endereco_b: string (nullable = true)
 |-- estado_b: string (nullable = true)
 |-- mae_b: string (nullable = true)
 |-- nome_b: string (nullable = true)
 |-- tipo_sanguineo_b: string (nullable = true)
 |-- cpf_b: string (nullable = true)
 |-- primeiro_nome_a: string (nullable = true)
 |-- primeiro_nome_b: string (nullable = true)
 |-- ultimo_nome_a: string (nullable = true)
 |-- ultimo_nome_b: string (nullable = true)

In [28]:
dfl.show(5)

+---+---------+--------+----------+--------------------+------+-----+---------------+--------------------+--------------+--------------+----+---------+-------------+-----------+--------------------+--------+--------------------+--------------------+----------------+--------------+---------------+---------------+-------------+-------------+
| id|      cep|  cidade| data_nasc|            endereco|estado|idade|            mae|                nome|tipo_sanguineo|           cpf|id_b|    cep_b|     cidade_b|data_nasc_b|          endereco_b|estado_b|               mae_b|              nome_b|tipo_sanguineo_b|         cpf_b|primeiro_nome_a|primeiro_nome_b|ultimo_nome_a|ultimo_nome_b|
+---+---------+--------+----------+--------------------+------+-----+---------------+--------------------+--------------+--------------+----+---------+-------------+-----------+--------------------+--------+--------------------+--------------------+----------------+--------------+---------------+---------------+-------------+-------------+
|  0|65090-677|Sao Luis|10/09/1948| a Travessa do Ri...|    MA|   71|Louise Beatriz |Vicente Oliver Mo...|           AB-|097.627.958-49|  01|69304-350|    Boa Vista| 22/11/1965|Avenida Mario Hom...|      RR|Isabelle Marcia A...|Felipe Bruno dos ...|             AB-|506.865.202-46|        Vicente|         Felipe|     Monteiro|       Santos|
|  0|65090-677|Sao Luis|10/09/1948| a Travessa do Ri...|    MA|   71|Louise Beatriz |Vicente Oliver Mo...|           AB-|097.627.958-49|  02|78132-360|Varzea Grande|       null|      Rua Rio Cuiaba|      MT|       Alana Isadora|Marcio Heitor Sil...|             AB-|325.828.867-42|        Vicente|         Marcio|     Monteiro|     Silveira|
|  0|65090-677|Sao Luis|10/09/1948| a Travessa do Ri...|    MA|   71|Louise Beatriz |Vicente Oliver Mo...|           AB-|097.627.958-49|  03|88810-336|     Criciuma| 23/09/1961|Rua Romeu Lopes d...|      SC|  Caroline Gabriela |Theo Mario Victor...|              A-|284.536.218-88|        Vicente|           Theo|     Monteiro|      Barbosa|
|  0|65090-677|Sao Luis|10/09/1948| a Travessa do Ri...|    MA|   71|Louise Beatriz |Vicente Oliver Mo...|           AB-|097.627.958-49|  04|60874-405|    Fortaleza| 11/05/1981|                null|      CE|       Tereza Bruna |Pietro Henrique d...|             AB-|390.375.925-20|        Vicente|         Pietro|     Monteiro|        Paula|
|  0|65090-677|Sao Luis|10/09/1948| a Travessa do Ri...|    MA|   71|Louise Beatriz |Vicente Oliver Mo...|           AB-|097.627.958-49|  05|79106-140| Campo Grande| 14/12/1941|     Rua Pato Branco|      MS|      Alice Leticia |Kaique Thiago de ...|              A-|756.005.387-40|        Vicente|         Kaique|     Monteiro|        Paula|
+---+---------+--------+----------+--------------------+------+-----+---------------+--------------------+--------------+--------------+----+---------+-------------+-----------+--------------------+--------+--------------------+--------------------+----------------+--------------+---------------+---------------+-------------+-------------+
only showing top 5 rows

## Criação das colunas com nomes fonéticos

In [0]:
def criaMetaphone(col):
  return jellyfish.metaphone(col)
udf_criaMetaphone = F.udf(criaMetaphone, StringType())

In [0]:
dfl = dfl.withColumn('primeiro_nome_fonetico_a', udf_criaMetaphone(F.col('primeiro_nome_a')))
dfl = dfl.withColumn('primeiro_nome_fonetico_b', udf_criaMetaphone(F.col('primeiro_nome_b')))
dfl = dfl.withColumn('ultimo_nome_fonetico_a', udf_criaMetaphone(F.col('ultimo_nome_a')))
dfl = dfl.withColumn('ultimo_nome_fonetico_b', udf_criaMetaphone(F.col('ultimo_nome_b')))

In [0]:
dfl = dfl.withColumn('nome_fonetico_a', udf_criaMetaphone(F.col('nome')))
dfl = dfl.withColumn('nome_fonetico_b', udf_criaMetaphone(F.col('nome_b')))
dfl = dfl.withColumn('nome_fonetico_mae_a', udf_criaMetaphone(F.col('mae')))
dfl = dfl.withColumn('nome_fonetico_mae_b', udf_criaMetaphone(F.col('mae_b')))

In [32]:
dfl.show(5)

+---+---------+--------+----------+--------------------+------+-----+---------------+--------------------+--------------+--------------+----+---------+-------------+-----------+--------------------+--------+--------------------+--------------------+----------------+--------------+---------------+---------------+-------------+-------------+------------------------+------------------------+----------------------+----------------------+---------------+---------------+-------------------+-------------------+
| id|      cep|  cidade| data_nasc|            endereco|estado|idade|            mae|                nome|tipo_sanguineo|           cpf|id_b|    cep_b|     cidade_b|data_nasc_b|          endereco_b|estado_b|               mae_b|              nome_b|tipo_sanguineo_b|         cpf_b|primeiro_nome_a|primeiro_nome_b|ultimo_nome_a|ultimo_nome_b|primeiro_nome_fonetico_a|primeiro_nome_fonetico_b|ultimo_nome_fonetico_a|ultimo_nome_fonetico_b|nome_fonetico_a|nome_fonetico_b|nome_fonetico_mae_a|nome_fonetico_mae_b|
+---+---------+--------+----------+--------------------+------+-----+---------------+--------------------+--------------+--------------+----+---------+-------------+-----------+--------------------+--------+--------------------+--------------------+----------------+--------------+---------------+---------------+-------------+-------------+------------------------+------------------------+----------------------+----------------------+---------------+---------------+-------------------+-------------------+
|  0|65090-677|Sao Luis|10/09/1948| a Travessa do Ri...|    MA|   71|Louise Beatriz |Vicente Oliver Mo...|           AB-|097.627.958-49|  01|69304-350|    Boa Vista| 22/11/1965|Avenida Mario Hom...|      RR|Isabelle Marcia A...|Felipe Bruno dos ...|             AB-|506.865.202-46|        Vicente|         Felipe|     Monteiro|       Santos|                    FSNT|                     FLP|                  MNTR|                  SNTS| FSNT OLFR MNTR|FLP BRN TS SNTS|           LS BTRS |    ISBL MRX ANTNL |
|  0|65090-677|Sao Luis|10/09/1948| a Travessa do Ri...|    MA|   71|Louise Beatriz |Vicente Oliver Mo...|           AB-|097.627.958-49|  02|78132-360|Varzea Grande|       null|      Rua Rio Cuiaba|      MT|       Alana Isadora|Marcio Heitor Sil...|             AB-|325.828.867-42|        Vicente|         Marcio|     Monteiro|     Silveira|                    FSNT|                     MRS|                  MNTR|                  SLFR| FSNT OLFR MNTR|   MRS HTR SLFR|           LS BTRS |           ALN ISTR|
|  0|65090-677|Sao Luis|10/09/1948| a Travessa do Ri...|    MA|   71|Louise Beatriz |Vicente Oliver Mo...|           AB-|097.627.958-49|  03|88810-336|     Criciuma| 23/09/1961|Rua Romeu Lopes d...|      SC|  Caroline Gabriela |Theo Mario Victor...|              A-|284.536.218-88|        Vicente|           Theo|     Monteiro|      Barbosa|                    FSNT|                       0|                  MNTR|                  BRBS| FSNT OLFR MNTR| 0 MR FKTR BRBS|           LS BTRS |         KRLN KBRL |
|  0|65090-677|Sao Luis|10/09/1948| a Travessa do Ri...|    MA|   71|Louise Beatriz |Vicente Oliver Mo...|           AB-|097.627.958-49|  04|60874-405|    Fortaleza| 11/05/1981|                null|      CE|       Tereza Bruna |Pietro Henrique d...|             AB-|390.375.925-20|        Vicente|         Pietro|     Monteiro|        Paula|                    FSNT|                     PTR|                  MNTR|                    PL| FSNT OLFR MNTR|  PTR HNRK T PL|           LS BTRS |           TRS BRN |
|  0|65090-677|Sao Luis|10/09/1948| a Travessa do Ri...|    MA|   71|Louise Beatriz |Vicente Oliver Mo...|           AB-|097.627.958-49|  05|79106-140| Campo Grande| 14/12/1941|     Rua Pato Branco|      MS|      Alice Leticia |Kaique Thiago de ...|              A-|756.005.387-40|        Vicente|         Kaique|     Monteiro|        Paula|                    FSNT|                      KK|                  MNTR|                    PL| FSNT OLFR MNTR|     KK 0K T PL|           LS BTRS |           ALS LTX |
+---+---------+--------+----------+--------------------+------+-----+---------------+--------------------+--------------+--------------+----+---------+-------------+-----------+--------------------+--------+--------------------+--------------------+----------------+--------------+---------------+---------------+-------------+-------------+------------------------+------------------------+----------------------+----------------------+---------------+---------------+-------------------+-------------------+
only showing top 5 rows

In [33]:
dfl.printSchema()

root
 |-- id: string (nullable = true)
 |-- cep: string (nullable = true)
 |-- cidade: string (nullable = true)
 |-- data_nasc: string (nullable = true)
 |-- endereco: string (nullable = true)
 |-- estado: string (nullable = true)
 |-- idade: string (nullable = true)
 |-- mae: string (nullable = true)
 |-- nome: string (nullable = true)
 |-- tipo_sanguineo: string (nullable = true)
 |-- cpf: string (nullable = true)
 |-- id_b: string (nullable = true)
 |-- cep_b: string (nullable = true)
 |-- cidade_b: string (nullable = true)
 |-- data_nasc_b: string (nullable = true)
 |-- endereco_b: string (nullable = true)
 |-- estado_b: string (nullable = true)
 |-- mae_b: string (nullable = true)
 |-- nome_b: string (nullable = true)
 |-- tipo_sanguineo_b: string (nullable = true)
 |-- cpf_b: string (nullable = true)
 |-- primeiro_nome_a: string (nullable = true)
 |-- primeiro_nome_b: string (nullable = true)
 |-- ultimo_nome_a: string (nullable = true)
 |-- ultimo_nome_b: string (nullable = true)
 |-- primeiro_nome_fonetico_a: string (nullable = true)
 |-- primeiro_nome_fonetico_b: string (nullable = true)
 |-- ultimo_nome_fonetico_a: string (nullable = true)
 |-- ultimo_nome_fonetico_b: string (nullable = true)
 |-- nome_fonetico_a: string (nullable = true)
 |-- nome_fonetico_b: string (nullable = true)
 |-- nome_fonetico_mae_a: string (nullable = true)
 |-- nome_fonetico_mae_b: string (nullable = true)

## Criação da Função de Similaridade pelo Nome e Nome da Mãe com Jaro Winkler (fonético)

In [0]:
def compare(primeiro_nome_fonetico_a, ultimo_nome_fonetico_a, nome_fonetico_mae_a, primeiro_nome_fonetico_b, ultimo_nome_fonetico_b, nome_fonetico_mae_b):
  sim = 0
  
  #comparando atributos nominais
  sim = jellyfish.jaro_winkler(primeiro_nome_fonetico_a, primeiro_nome_fonetico_b)
  sim += jellyfish.jaro_winkler(ultimo_nome_fonetico_a, ultimo_nome_fonetico_b)
  sim += jellyfish.jaro_winkler(nome_fonetico_mae_a, nome_fonetico_mae_b)
  
  #Media aritmética simples
  sim = abs(float(sim/3))
  
  return sim

udf_compare = F.udf(compare, StringType())

## Rodando Comparação

In [0]:
dfr = dfl.withColumn('similaridade', 
                     udf_compare(F.col('primeiro_nome_fonetico_a'),
                                 F.col('ultimo_nome_fonetico_a'),
                                 F.col('nome_fonetico_mae_a'),
                                 F.col('primeiro_nome_fonetico_b'),
                                 F.col('ultimo_nome_fonetico_b'),
                                 F.col('nome_fonetico_mae_b')))

In [59]:
dfr.printSchema()

root
 |-- id: string (nullable = true)
 |-- cep: string (nullable = true)
 |-- cidade: string (nullable = true)
 |-- data_nasc: string (nullable = true)
 |-- endereco: string (nullable = true)
 |-- estado: string (nullable = true)
 |-- idade: string (nullable = true)
 |-- mae: string (nullable = true)
 |-- nome: string (nullable = true)
 |-- tipo_sanguineo: string (nullable = true)
 |-- cpf: string (nullable = true)
 |-- id_b: string (nullable = true)
 |-- cep_b: string (nullable = true)
 |-- cidade_b: string (nullable = true)
 |-- data_nasc_b: string (nullable = true)
 |-- endereco_b: string (nullable = true)
 |-- estado_b: string (nullable = true)
 |-- mae_b: string (nullable = true)
 |-- nome_b: string (nullable = true)
 |-- tipo_sanguineo_b: string (nullable = true)
 |-- cpf_b: string (nullable = true)
 |-- primeiro_nome_a: string (nullable = true)
 |-- primeiro_nome_b: string (nullable = true)
 |-- ultimo_nome_a: string (nullable = true)
 |-- ultimo_nome_b: string (nullable = true)
 |-- primeiro_nome_fonetico_a: string (nullable = true)
 |-- primeiro_nome_fonetico_b: string (nullable = true)
 |-- ultimo_nome_fonetico_a: string (nullable = true)
 |-- ultimo_nome_fonetico_b: string (nullable = true)
 |-- nome_fonetico_a: string (nullable = true)
 |-- nome_fonetico_b: string (nullable = true)
 |-- nome_fonetico_mae_a: string (nullable = true)
 |-- nome_fonetico_mae_b: string (nullable = true)
 |-- similaridade: string (nullable = true)

In [60]:
# Exibindo base de resultado
dfr.select(['id', 'id_b', 'nome', 'nome_b', 'cpf', 'cpf_b', 'similaridade']).show(10)

+---+----+--------------------+--------------------+--------------+--------------+-------------------+
| id|id_b|                nome|              nome_b|           cpf|         cpf_b|       similaridade|
+---+----+--------------------+--------------------+--------------+--------------+-------------------+
|  0|  01|Vicente Oliver Mo...|Felipe Bruno dos ...|097.627.958-49|506.865.202-46|                0.6|
|  0|  02|Vicente Oliver Mo...|Marcio Heitor Sil...|097.627.958-49|325.828.867-42| 0.5703703703703703|
|  0|  03|Vicente Oliver Mo...|Theo Mario Victor...|097.627.958-49|284.536.218-88|0.19166666666666668|
|  0|  04|Vicente Oliver Mo...|Pietro Henrique d...|097.627.958-49|390.375.925-20|               0.25|
|  0|  05|Vicente Oliver Mo...|Kaique Thiago de ...|097.627.958-49|756.005.387-40|               0.25|
|  0|  06|Vicente Oliver Mo...|Gabriel Erick Oli...|097.627.958-49|551.341.139-39|0.20502645502645503|
|  0|  07|Vicente Oliver Mo...|Luan Caue Anthony...|097.627.958-49|756.048.583-90| 0.6527777777777778|
|  0|  08|Vicente Oliver Mo...|        Enzo D Rocha|097.627.958-49|386.351.591-95|0.44654882154882153|
|  0|  09|Vicente Oliver Mo...|Cesar Matheus Cau...|097.627.958-49|885.264.747-31| 0.6171957671957671|
|  0|  10|Vicente Oliver Mo...|   Caua Isaac Castro|097.627.958-49|489.611.821-96|0.42023809523809524|
+---+----+--------------------+--------------------+--------------+--------------+-------------------+
only showing top 10 rows

In [0]:
# Deduplicando a base (eliminando linhas duplicadas, ficando somente com a de maior similaridade)
dfc = dfr.orderBy(['similaridade'], ascending=False).dropDuplicates(['id_b']).orderBy(['id_b']).select(['id', 'id_b', 'nome','mae', 'nome_b', 'mae_b', 'cpf','cpf_b', 'similaridade'])

In [0]:
# Criação de coluna de comparação de CPFs
dfc = dfc.withColumn('CPFs_Iguais',F.col('cpf') == F.col('cpf_b'))

In [71]:
dfc.count()

143

In [78]:
dfc.show(10)

+---+----+--------------------+--------------------+--------------------+--------------------+--------------+--------------+------------------+-----------+
| id|id_b|                nome|                 mae|              nome_b|               mae_b|           cpf|         cpf_b|      similaridade|CPFs_Iguais|
+---+----+--------------------+--------------------+--------------------+--------------------+--------------+--------------+------------------+-----------+
| 14|  01|Felipe Bruno dos ...|Isabelle Marcia A...|Felipe Bruno dos ...|Isabelle Marcia A...|506.865.202-46|506.865.202-46|               1.0|       true|
| 15|  02|Marcio Heitor Sil...|Alana Isadora Jul...|Marcio Heitor Sil...|       Alana Isadora|325.828.867-42|325.828.867-42|0.9743589743589745|       true|
| 16|  03|Theo Mario Victor...|  Caroline Gabriela |Theo Mario Victor...|  Caroline Gabriela |284.536.218-88|284.536.218-88|               1.0|       true|
| 17|  04|Pietro Henry de P...|       Tereza Bruna |Pietro Henrique d...|       Tereza Bruna |390.375.925-20|390.375.925-20|               1.0|       true|
| 18|  05|Kaique Thiago de ...|      Alice Leticia |Kaique Thiago de ...|      Alice Leticia |756.005.387-40|756.005.387-40|               1.0|       true|
| 19|  06|Gabriel Erick Oli...|Helena Agatha Ter...|Gabriel Erick Oli...|Elena Agatha Tere...|551.341.139-39|551.341.139-39|0.9841269841269842|       true|
| 20|  07|Luan Caue Anthony...|Vanessa Camila Ni...|Luan Caue Anthony...|Vanessa Camila Ni...|756.048.583-90|756.048.583-90|               1.0|       true|
| 21|  08|    Enzo Diego Rocha|Isabelle Maite Rosa |        Enzo D Rocha|Isabelle Maite Rosa |386.351.591-95|386.351.591-95|               1.0|       true|
| 22|  09|Cesar Matheus Cau...|      Sophie Bianca |Cesar Matheus Cau...|      Sophie Bianca |885.264.747-31|885.264.747-31|               1.0|       true|
| 23|  10|   Caua Isaac Castro|Giovana Antonella...|   Caua Isaac Castro|Giovana Antonella...|489.611.821-96|489.611.821-96|               1.0|       true|
+---+----+--------------------+--------------------+--------------------+--------------------+--------------+--------------+------------------+-----------+
only showing top 10 rows

In [80]:
dfc.limit(100).toPandas()

     id id_b  ...        similaridade CPFs_Iguais
0    14   01  ...                 1.0        True
1    15   02  ...  0.9743589743589745        True
2    16   03  ...                 1.0        True
3    17   04  ...                 1.0        True
4    18   05  ...                 1.0        True
5    19   06  ...  0.9841269841269842        True
6    20   07  ...                 1.0        True
7    21   08  ...                 1.0        True
8    22   09  ...                 1.0        True
9    23   10  ...                 1.0        True
10   88  100  ...                 1.0       False
11   89  101  ...                 1.0       False
12   90  102  ...                 1.0       False
13   91  103  ...                 1.0       False
14   92  104  ...                 1.0       False
15   93  105  ...                 1.0       False
16   94  106  ...                 1.0       False
17   95  107  ...                 1.0       False
18   96  108  ...                 1.0       False
19   97  109  ...                 1.0       False
20   24   11  ...                 1.0        True
21   98  110  ...  0.9074074074074074       False
22   99  111  ...                 1.0       False
23  100  112  ...                 1.0       False
24  101  113  ...                 1.0       False
25  102  114  ...                 1.0       False
26  103  115  ...                 1.0       False
27  104  116  ...                 1.0       False
28  105  117  ...                 1.0       False
29   19  118  ...  0.8881673881673882       False
..  ...  ...  ...                 ...         ...
70   40   27  ...                 1.0        True
71   41   28  ...                 1.0        True
72  512   29  ...                 1.0        True
73  513   30  ...                 1.0        True
74  514   31  ...                 1.0        True
75  515   32  ...                 1.0        True
76  516   33  ...                 1.0        True
77  517   34  ...                 1.0        True
78  518   35  ...                 1.0        True
79  519   36  ...                 1.0        True
80  520   37  ...                 1.0        True
81  521   38  ...                 1.0        True
82  522   39  ...  0.9851851851851853        True
83  523   40  ...                 1.0        True
84  524   41  ...  0.9259259259259259        True
85  525   42  ...                 1.0        True
86  526   43  ...                 1.0        True
87  527   44  ...                 1.0        True
88  528   45  ...                 1.0        True
89  529   46  ...                 1.0        True
90  530   47  ...                 1.0        True
91  531   48  ...                 1.0        True
92  532   49  ...                 1.0        True
93  533   50  ...                 1.0        True
94   63   51  ...                 1.0        True
95   64   52  ...  0.9777777777777779        True
96   65   53  ...  0.9904761904761905        True
97   66   54  ...                 1.0        True
98   67   55  ...                 1.0        True
99   68   56  ...                 1.0        True

[100 rows x 10 columns]

## Criação da Função de Similaridade pelo Nome e Nome da Mãe com Jaro Winkler (literal)

In [0]:
def compare_2(primeiro_nome_a, ultimo_nome_fonetico_a, nome_fonetico_mae_a, primeiro_nome_fonetico_b, ultimo_nome_fonetico_b, nome_fonetico_mae_b):
  sim = 0
  
  #comparando atributos nominais
  sim = jellyfish.jaro_winkler(primeiro_nome_a, primeiro_nome_b)
  sim += jellyfish.jaro_winkler(ultimo_nome_a, ultimo_nome_b)
  sim += jellyfish.jaro_winkler(nome_mae_a, nome_mae_b)
  
  #Media aritmética simples
  sim = abs(float(sim/3))
  
  return sim

udf_compare_2 = F.udf(compare_2, StringType())

## Rodando Comparação

In [0]:
dfr_2 = dfl.withColumn('similaridade', 
                     udf_compare(F.col('primeiro_nome_fonetico_a'),
                                 F.col('ultimo_nome_fonetico_a'),
                                 F.col('nome_fonetico_mae_a'),
                                 F.col('primeiro_nome_fonetico_b'),
                                 F.col('ultimo_nome_fonetico_b'),
                                 F.col('nome_fonetico_mae_b')))

In [47]:
# Exibindo base de resultado
dfr_2.select(['id', 'id_b', 'nome', 'nome_b', 'cpf', 'cpf_b', 'similaridade']).show(10)

+---+----+--------------------+--------------------+--------------+--------------+-------------------+
| id|id_b|                nome|              nome_b|           cpf|         cpf_b|       similaridade|
+---+----+--------------------+--------------------+--------------+--------------+-------------------+
|  0|  01|Vicente Oliver Mo...|Felipe Bruno dos ...|097.627.958-49|506.865.202-46|                0.6|
|  0|  02|Vicente Oliver Mo...|Marcio Heitor Sil...|097.627.958-49|325.828.867-42| 0.5703703703703703|
|  0|  03|Vicente Oliver Mo...|Theo Mario Victor...|097.627.958-49|284.536.218-88|0.19166666666666668|
|  0|  04|Vicente Oliver Mo...|Pietro Henrique d...|097.627.958-49|390.375.925-20|               0.25|
|  0|  05|Vicente Oliver Mo...|Kaique Thiago de ...|097.627.958-49|756.005.387-40|               0.25|
|  0|  06|Vicente Oliver Mo...|Gabriel Erick Oli...|097.627.958-49|551.341.139-39|0.20502645502645503|
|  0|  07|Vicente Oliver Mo...|Luan Caue Anthony...|097.627.958-49|756.048.583-90| 0.6527777777777778|
|  0|  08|Vicente Oliver Mo...|        Enzo D Rocha|097.627.958-49|386.351.591-95|0.44654882154882153|
|  0|  09|Vicente Oliver Mo...|Cesar Matheus Cau...|097.627.958-49|885.264.747-31| 0.6171957671957671|
|  0|  10|Vicente Oliver Mo...|   Caua Isaac Castro|097.627.958-49|489.611.821-96|0.42023809523809524|
+---+----+--------------------+--------------------+--------------+--------------+-------------------+
only showing top 10 rows

In [0]:
# Deduplicando a base (eliminando linhas duplicadas, ficando somente com a de maior similaridade)
dfc_2 = dfr_2.orderBy(['similaridade'], ascending=False).dropDuplicates(['id_b']).orderBy(['id_b']).select(['id', 'id_b', 'nome','nome_b','cpf','cpf_b', 'similaridade'])

In [0]:
# Criação de coluna de comparação de CPFs
dfc_2 = dfc_2.withColumn('CPFs_Iguais',F.col('cpf') == F.col('cpf_b'))

In [53]:
dfc_2.show(10)

+---+----+--------------------+--------------------+--------------+--------------+------------------+-----------+
| id|id_b|                nome|              nome_b|           cpf|         cpf_b|      similaridade|CPFs_Iguais|
+---+----+--------------------+--------------------+--------------+--------------+------------------+-----------+
| 14|  01|Felipe Bruno dos ...|Felipe Bruno dos ...|506.865.202-46|506.865.202-46|               1.0|       true|
| 15|  02|Marcio Heitor Sil...|Marcio Heitor Sil...|325.828.867-42|325.828.867-42|0.9743589743589745|       true|
| 16|  03|Theo Mario Victor...|Theo Mario Victor...|284.536.218-88|284.536.218-88|               1.0|       true|
| 17|  04|Pietro Henry de P...|Pietro Henrique d...|390.375.925-20|390.375.925-20|               1.0|       true|
| 18|  05|Kaique Thiago de ...|Kaique Thiago de ...|756.005.387-40|756.005.387-40|               1.0|       true|
| 19|  06|Gabriel Erick Oli...|Gabriel Erick Oli...|551.341.139-39|551.341.139-39|0.9841269841269842|       true|
| 20|  07|Luan Caue Anthony...|Luan Caue Anthony...|756.048.583-90|756.048.583-90|               1.0|       true|
| 21|  08|    Enzo Diego Rocha|        Enzo D Rocha|386.351.591-95|386.351.591-95|               1.0|       true|
| 22|  09|Cesar Matheus Cau...|Cesar Matheus Cau...|885.264.747-31|885.264.747-31|               1.0|       true|
| 23|  10|   Caua Isaac Castro|   Caua Isaac Castro|489.611.821-96|489.611.821-96|               1.0|       true|
+---+----+--------------------+--------------------+--------------+--------------+------------------+-----------+
only showing top 10 rows

In [76]:
dfc_2.limit(10).toPandas()

   id id_b  ...        similaridade CPFs_Iguais
0  14   01  ...                 1.0        True
1  15   02  ...  0.9743589743589745        True
2  16   03  ...                 1.0        True
3  17   04  ...                 1.0        True
4  18   05  ...                 1.0        True
5  19   06  ...  0.9841269841269842        True
6  20   07  ...                 1.0        True
7  21   08  ...                 1.0        True
8  22   09  ...                 1.0        True
9  23   10  ...                 1.0        True

[10 rows x 8 columns]

## Criação da Função de Similaridade pelo Nome e Data de Nascimento com Jaro Winkler

## Criação da Função de Similaridade pelo Primeiro e Ultimo Nome e Nome da Mãe com ***

## Criação da Função de Similaridade por outros Campos

## Criação da Função de Similaridade pelo Nome e Data de Nascimento com Jaro Winkler

## Criação da Função de Similaridade pelo Nome e Data de Nascimento com Jaro Winkler

In [0]:
def compare_2(primeiro_nome_a, ultimo_nome_fonetico_a, nome_fonetico_mae_a, primeiro_nome_fonetico_b, ultimo_nome_fonetico_b, nome_fonetico_mae_b):
  sim = 0
  
  #comparando atributos nominais
  sim = jellyfish.jaro_winkler(primeiro_nome_a, primeiro_nome_b)
  sim += jellyfish.jaro_winkler(ultimo_nome_a, ultimo_nome_b)
  sim += jellyfish.jaro_winkler(nome_mae_a, nome_mae_b)
  
  #Media aritmética simples
  sim = abs(float(sim/3))
  
  return sim

udf_compare_2 = F.udf(compare_2, StringType())