<a href="https://colab.research.google.com/github/EdnilsonRosa/Data-Science/blob/master/Avalia%C3%A7%C3%A3o%20Big%20Data.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Avaliação de Big Data

## Inicializando o ambiente e carregando as bibliotecas

In [0]:
#!apt-get install openjdk-8-jdk-headless -qq > /dev/null
!wget -q http://archive.apache.org/dist/spark/spark-2.4.2/spark-2.4.2-bin-hadoop2.7.tgz
!tar xf spark-2.4.2-bin-hadoop2.7.tgz
!pip install -q findspark

!java -version

import os
os.environ["JAVA_HOME"] = "/usr/lib/jvm/java-1.11.0-openjdk-amd64/"
os.environ["SPARK_HOME"] = "/content/spark-2.4.2-bin-hadoop2.7"

import findspark
findspark.init()
from pyspark.sql import SparkSession
spark = SparkSession.builder.master("local[*]").getOrCreate()

### Chamada da biblioteca

from pyspark.sql import SparkSession
import pyspark.sql.functions as F
from pyspark.sql.types import StringType
from pyspark.sql.types import IntegerType

### Inicializaçaõ da Sessão do Spark - 

spark = SparkSession.builder \
                    .appName("Tutorial PySpark SQL") \
                    .config("spark.some.config.option", "some-value") \
                    .getOrCreate()

openjdk version "11.0.3" 2019-04-16
OpenJDK Runtime Environment (build 11.0.3+7-Ubuntu-1ubuntu218.04.1)
OpenJDK 64-Bit Server VM (build 11.0.3+7-Ubuntu-1ubuntu218.04.1, mixed mode, sharing)

In [0]:
!pip install jellyfish
import jellyfish

Collecting jellyfish
  Downloading https://files.pythonhosted.org/packages/69/9f/ae6f6ad509725b71d45bb408953c850da7a2ecc3dbdad4063a825702ba29/jellyfish-0.7.1.tar.gz (131kB)
     |████████████████████████████████| 133kB 5.0MB/s
Building wheels for collected packages: jellyfish
  Building wheel for jellyfish (setup.py) ... done
  Stored in directory: /root/.cache/pip/wheels/eb/33/cf/c7ce9866a02202b1f8ca45595e20f5145bf56c0262cfa2daf1
Successfully built jellyfish
Installing collected packages: jellyfish
Successfully installed jellyfish-0.7.1

In [0]:
import pandas as pd

## Montando o Drive e carregando o arquivo

In [0]:
### Montagem de drive do Google
### Será solicitada autorização
### O Colab tem como raiz uma pasta 'content'

from google.colab import drive
drive.mount('/content/gdrive')

Go to this URL in a browser: https://accounts.google.com/o/oauth2/auth?client_id=947318989803-6bn6qk8qdgf4n4g3pfee6491hc0brc4i.apps.googleusercontent.com&redirect_uri=urn%3Aietf%3Awg%3Aoauth%3A2.0%3Aoob&scope=email%20https%3A%2F%2Fwww.googleapis.com%2Fauth%2Fdocs.test%20https%3A%2F%2Fwww.googleapis.com%2Fauth%2Fdrive%20https%3A%2F%2Fwww.googleapis.com%2Fauth%2Fdrive.photos.readonly%20https%3A%2F%2Fwww.googleapis.com%2Fauth%2Fpeopleapi.readonly&response_type=code

Enter your authorization code:
··········
Mounted at /content/gdrive

In [0]:
dfa = spark.read.csv('gdrive/My Drive/Colab Notebooks/base_sintetica_ascii_a.csv', header=True, sep=',')

In [0]:
dfb = spark.read.csv('gdrive/My Drive/Colab Notebooks/base_sintetica_ascii_b.csv', header=True, sep=',')

In [0]:
dfb.count()

143

In [0]:
dfa.count()

540

In [0]:
dfb.toPandas()

In [0]:
dfa.show()

+---+--------------------+---------+-----------------+--------------+----------+--------------------+--------------------+------+-----+--------------------+--------------------+------+-----------+--------------+----+
| id|              bairro|      cep|           cidade|           cpf| data_nasc|               email|            endereco|estado|idade|                 mae|                nome|numero|      signo|tipo_sanguineo|_c15|
+---+--------------------+---------+-----------------+--------------+----------+--------------------+--------------------+------+-----+--------------------+--------------------+------+-----------+--------------+----+
|  0|         Vila Sarney|65090-677|         Sao Luis|097.627.958-49|10/09/1948|vicenteolivermont...|2a Travessa do Ri...|    MA|   71|     Louise Beatriz |Vicente Oliver Mo...|   738|     Virgem|           AB-|null|
|  1|      Vila Sao Jorge|75044-220|         Anapolis|685.096.335-09|24/04/1995|miguelbernardogon...|  Praca Joao Salomao|    GO|   24|     Raquel Barbara |Miguel Bernardo G...|   805|      Touro|            A-|null|
|  2|         Cabralzinho|68906-846|           Macapa|956.997.968-27|13/03/1984|ericktheomarcosvi...|    Alameda Calcoene|    AP|   35|Maite Valentina R...|Erick Theo Marcos...|   669|     Peixes|            B+|null|
|  3|           Mae Luiza|59014-227|            Natal|631.875.885-22|27/09/1965|mariorobertoisaac...|1a Rua Sao Francisco|    RN|   54|Alicia Cristiane ...|Mario Roberto Isa...|   978|      Libra|           AB+|null|
|  4|       Jardim Monaco|86702-790|        Arapongas|397.480.478-14|24/11/1965|eeliasandersonmat...|Rua Mariquita-dos...|    PR|   54|     Tatiane Josefa |Elias Anderson Ma...|   558|  Sagitario|            A+|null|
|  5|        Boca da Mata|65917-157|       Imperatriz|216.419.173-00|27/04/1997|gabrielluisjesus_...|  Rua Antenor Bastos|    MA|   22|Fernanda Sebastia...|  Gabriel Luis Jesus|   651|      Touro|            B-|null|
|  6|       Boa Esperanca|23894-586|       Seropedica|148.386.650-59|10/01/1985|brunojulioguilher...|    Rua Jose Paucino|    RJ|   34|     Lavinia Isabel |Bruno Julio Guilh...|   445|Capricornio|            B-|null|
|  7|  Vila Santo Eugenio|79060-380|     Campo Grande|654.325.863-20|06/12/1957|ttheoguilhermesou...|      Rua Mamanguape|    MS|   62|Andreia Evelyn Ca...|Theo Guilherme Souza|   912|  Sagitario|            O+|null|
|  8|         Nova Maraba|68506-160|           Maraba|704.817.633-41|12/11/1955|marcosviniciusdie...|    Quadra Dezesseis|    PA|   64| Luiza Claudia Isis |Marcos Vinicius D...|   869|  Escorpiao|            O+|null|
|  9|Ceilandia Norte (...|72241-555|         Brasilia|179.057.616-49|12/11/1952|tthomasenzoarthur...|Quadra EQNP 13/17...|    DF|   67|Stefany Vera Kami...|Thomas Enzo Arthu...|   894|  Escorpiao|            A-|null|
| 10|Loteamento Linda ...|13802-488|       Mogi Mirim|999.008.988-42|25/08/1997|caiokevinpereira_...|       Rua Tom Jobim|    SP|   22|     Mariana Helena |  Caio Kevin Pereira|   675|     Virgem|            O-|null|
| 11|              Centro|29130-172|            Viana|844.083.511-64|04/09/1999|olivermarioandrea...|   Rua Alvimar Silva|    ES|   20|Marli Hadassa Lor...|Oliver Mario Andr...|   880|     Virgem|           AB+|null|
| 12|             Pacheco|88135-079|          Palhoca|164.210.136-27|06/07/1985|mmatheusclaudiori...|Travessa Antonio ...|    SC|   34|      Pietra Aurora |Matheus Claudio R...|   602|     Cancer|            A-|null|
| 13|      Setor Noroeste|70686-455|         Brasilia|771.006.764-60|20/02/1997|ddanielvicenteisa...|Quadra SQNW 109 B...|    DF|   22|Jaqueline Valentina |Daniel Vicente Is...|   211|     Peixes|            B-|null|
| 14|            Mecejana|69304-350|        Boa Vista|506.865.202-46|22/11/1965|felipebrunodossan...|Avenida Mario Hom...|    RR|   54|Isabelle Marcia A...|Felipe Bruno dos ...|   732|  Sagitario|           AB-|null|
| 15|           Primavera|78132-360|    Varzea Grande|325.828.867-42|04/03/1945|marcioheitorsilve...|      Rua Rio Cuiaba|    MT|   74|Alana Isadora Jul...|Marcio Heitor Sil...|   681|     Peixes|           AB-|null|
| 16|           Maria Ceu|88810-336|         Criciuma|284.536.218-88|23/09/1961|theomariovictorba...|Rua Romeu Lopes d...|    SC|   58|  Caroline Gabriela |Theo Mario Victor...|   713|      Libra|            A-|null|
| 17|              Pedras|60874-405|        Fortaleza|390.375.925-20|11/05/1981|pietrohenrydepaul...|           Rua Matiz|    CE|   38|       Tereza Bruna |Pietro Henry de P...|   118|      Touro|           AB-|null|
| 18|    Jardim Aeroporto|79106-140|     Campo Grande|756.005.387-40|14/12/1941|kkaiquethiagodepa...|     Rua Pato Branco|    MS|   78|      Alice Leticia |Kaique Thiago de ...|   349|  Sagitario|            A-|null|
| 19|       Novo Juazeiro|63030-450|Juazeiro do Norte|551.341.139-39|16/02/1999|ggabrielerickoliv...| Avenida do Contorno|    CE|   20|Helena Agatha Ter...|Gabriel Erick Oli...|   758|    Aquario|            O+|null|
+---+--------------------+---------+-----------------+--------------+----------+--------------------+--------------------+------+-----+--------------------+--------------------+------+-----------+--------------+----+
only showing top 20 rows

In [0]:
dfa.printSchema()

root
 |-- id: string (nullable = true)
 |-- bairro: string (nullable = true)
 |-- cep: string (nullable = true)
 |-- cidade: string (nullable = true)
 |-- cpf: string (nullable = true)
 |-- data_nasc: string (nullable = true)
 |-- email: string (nullable = true)
 |-- endereco: string (nullable = true)
 |-- estado: string (nullable = true)
 |-- idade: string (nullable = true)
 |-- mae: string (nullable = true)
 |-- nome: string (nullable = true)
 |-- numero: string (nullable = true)
 |-- signo: string (nullable = true)
 |-- tipo_sanguineo: string (nullable = true)
 |-- _c15: string (nullable = true)

In [0]:
dfb.printSchema()

root
 |-- id: string (nullable = true)
 |-- cep: string (nullable = true)
 |-- cidade: string (nullable = true)
 |-- cpf: string (nullable = true)
 |-- data_nasc: string (nullable = true)
 |-- endereco: string (nullable = true)
 |-- estado: string (nullable = true)
 |-- mae: string (nullable = true)
 |-- nome: string (nullable = true)
 |-- tipo_sanguineo: string (nullable = true)

## Tratamento de Atributo Missing

In [0]:
dfa.filter(F.col('nome').isNull()).count()

0

In [0]:
dfb.filter(F.col('nome').isNull()).count()

2

In [0]:
dfb = dfb.withColumnRenamed('nome','nome_antigo')
dfb = dfb.withColumn('nome', F.when(F.col('nome_antigo').isNull()," ").otherwise(F.col('nome_antigo')))

In [0]:
dfb.show()

+---+---------+-----------------+--------------+----------+--------------------+------+--------------------+--------------------+--------------+--------------------+
| id|      cep|           cidade|           cpf| data_nasc|            endereco|estado|                 mae|         nome_antigo|tipo_sanguineo|                nome|
+---+---------+-----------------+--------------+----------+--------------------+------+--------------------+--------------------+--------------+--------------------+
| 01|69304-350|        Boa Vista|506.865.202-46|22/11/1965|Avenida Mario Hom...|    RR|Isabelle Marcia A...|Felipe Bruno dos ...|           AB-|Felipe Bruno dos ...|
| 02|78132-360|    Varzea Grande|325.828.867-42|      null|      Rua Rio Cuiaba|    MT|       Alana Isadora|Marcio Heitor Sil...|           AB-|Marcio Heitor Sil...|
| 03|88810-336|         Criciuma|284.536.218-88|23/09/1961|Rua Romeu Lopes d...|    SC|  Caroline Gabriela |Theo Mario Victor...|            A-|Theo Mario Victor...|
| 04|60874-405|        Fortaleza|390.375.925-20|11/05/1981|                null|    CE|       Tereza Bruna |Pietro Henrique d...|           AB-|Pietro Henrique d...|
| 05|79106-140|     Campo Grande|756.005.387-40|14/12/1941|     Rua Pato Branco|    MS|      Alice Leticia |Kaique Thiago de ...|            A-|Kaique Thiago de ...|
| 06|63030-450|Juazeiro do Norte|551.341.139-39|16/02/1999| Avenida do Contorno|    CE|Elena Agatha Tere...|Gabriel Erick Oli...|            O+|Gabriel Erick Oli...|
| 07|84172-370|           Castro|756.048.583-90|11/03/1982|Rua Major Candido...|  null|Vanessa Camila Ni...|Luan Caue Anthony...|          null|Luan Caue Anthony...|
| 08|69070-555|           Manaus|386.351.591-95|13/01/1978|                null|    AM|Isabelle Maite Rosa |        Enzo D Rocha|          null|        Enzo D Rocha|
| 09|20950-430|   Rio de Janeiro|885.264.747-31|27/01/2001|         Rua do Amor|    RJ|      Sophie Bianca |Cesar Matheus Cau...|          null|Cesar Matheus Cau...|
| 10|36071-020|     Juiz de Fora|489.611.821-96|      null|Rua Flavia Rios M...|    MG|Giovana Antonella...|   Caua Isaac Castro|          null|   Caua Isaac Castro|
| 11|75063-120|         Anapolis|281.229.310-14|08/11/1947|Avenida dos Palmares|    GO|Mariana Mirella N...|Gabriel Caua Marc...|          null|Gabriel Caua Marc...|
| 12|78731-260|     Rondonopolis|492.264.809-74|18/04/1969|      Rua Circular-2|    MT|     Rita Ayla Sara |Danilo Severino d...|            B+|Danilo Severino d...|
| 13|77818-355|             null|816.876.443-90|27/03/1972|       Rua Aparecida|    TO|       Louise Joana |   Samuel Noah Lopes|            O-|   Samuel Noah Lopes|
| 14|05403-900|             null|327.630.596-86|10/10/1984|Avenida Doutor En...|    SP|      Heloisa Luzia |Juan Raimundo Osv...|            B+|Juan Raimundo Osv...|
| 15|69036-075|             null|181.410.022-95|05/01/1973|   Beco Sao Pedro II|    AM|Jessica Jaqueline...|Leandro Cesar Jor...|            O-|Leandro Cesar Jor...|
| 16|40720-479|             null|843.458.724-64|12/09/1996|3a Travessa Osval...|    BA|Lara Sabrina Giov...|Caio Julio Kaue Lima|           AB+|Caio Julio Kaue Lima|
| 17|65075-047|             null|134.836.403-39|21/06/1963|Rua Professora La...|    MA|Leticia Isabelly ...|Guilherme Rafael ...|            A-|Guilherme Rafael ...|
| 18|79041-061|             null|557.744.519-17|09/02/1947|     Rua Jacarepagua|    MS|     Gabriela Sueli |Nicolas Edson Araujo|            O-|Nicolas Edson Araujo|
| 19|72236-503|             null|254.321.926-91|25/05/1988|Quadra EQNP 30/34...|    DF|  Rita Rafaela Lara |Cesar Nelson Dani...|           AB+|Cesar Nelson Dani...|
| 20|72233-008|         Brasilia|806.443.633-80|16/02/1941|Quadra QNP 20 Con...|    DF|   Nicole Aparecida |Rodrigo Erick Rob...|            B+|Rodrigo Erick Rob...|
+---+---------+-----------------+--------------+----------+--------------------+------+--------------------+--------------------+--------------+--------------------+
only showing top 20 rows

## Renomeando colunas para o linkage (necessita nomes diferentes)

In [0]:
dfb = dfb.withColumnRenamed('id','id_b')
dfb = dfb.withColumnRenamed('cep','cep_b')
dfb = dfb.withColumnRenamed('cidade','cidade_b')
dfb = dfb.withColumnRenamed('cpf','cpf_b')
dfb = dfb.withColumnRenamed('data_nasc','data_nasc_b')
dfb = dfb.withColumnRenamed('endereco','endereco_b')
dfb = dfb.withColumnRenamed('estado','estado_b')
dfb = dfb.withColumnRenamed('mae','mae_b')
dfb = dfb.withColumnRenamed('nome','nome_b')
dfb = dfb.withColumnRenamed('tipo_sanguineo','tipo_sanguineo_b')

In [0]:
dfb.printSchema()

root
 |-- id_b: string (nullable = true)
 |-- cep_b: string (nullable = true)
 |-- cidade_b: string (nullable = true)
 |-- cpf_b: string (nullable = true)
 |-- data_nasc_b: string (nullable = true)
 |-- endereco_b: string (nullable = true)
 |-- estado_b: string (nullable = true)
 |-- mae_b: string (nullable = true)
 |-- nome_antigo: string (nullable = true)
 |-- tipo_sanguineo_b: string (nullable = true)
 |-- nome_b: string (nullable = true)

## Fazendo Linkage

In [0]:
dfl = dfa.crossJoin(dfb)

In [0]:
dfl.limit(5).show()

+---+-----------+---------+--------+--------------+----------+--------------------+--------------------+------+-----+---------------+--------------------+------+------+--------------+----+----+---------+-------------+--------------+-----------+--------------------+--------+--------------------+--------------------+----------------+--------------------+
| id|     bairro|      cep|  cidade|           cpf| data_nasc|               email|            endereco|estado|idade|            mae|                nome|numero| signo|tipo_sanguineo|_c15|id_b|    cep_b|     cidade_b|         cpf_b|data_nasc_b|          endereco_b|estado_b|               mae_b|         nome_antigo|tipo_sanguineo_b|              nome_b|
+---+-----------+---------+--------+--------------+----------+--------------------+--------------------+------+-----+---------------+--------------------+------+------+--------------+----+----+---------+-------------+--------------+-----------+--------------------+--------+--------------------+--------------------+----------------+--------------------+
|  0|Vila Sarney|65090-677|Sao Luis|097.627.958-49|10/09/1948|vicenteolivermont...|2a Travessa do Ri...|    MA|   71|Louise Beatriz |Vicente Oliver Mo...|   738|Virgem|           AB-|null|  01|69304-350|    Boa Vista|506.865.202-46| 22/11/1965|Avenida Mario Hom...|      RR|Isabelle Marcia A...|Felipe Bruno dos ...|             AB-|Felipe Bruno dos ...|
|  0|Vila Sarney|65090-677|Sao Luis|097.627.958-49|10/09/1948|vicenteolivermont...|2a Travessa do Ri...|    MA|   71|Louise Beatriz |Vicente Oliver Mo...|   738|Virgem|           AB-|null|  02|78132-360|Varzea Grande|325.828.867-42|       null|      Rua Rio Cuiaba|      MT|       Alana Isadora|Marcio Heitor Sil...|             AB-|Marcio Heitor Sil...|
|  0|Vila Sarney|65090-677|Sao Luis|097.627.958-49|10/09/1948|vicenteolivermont...|2a Travessa do Ri...|    MA|   71|Louise Beatriz |Vicente Oliver Mo...|   738|Virgem|           AB-|null|  03|88810-336|     Criciuma|284.536.218-88| 23/09/1961|Rua Romeu Lopes d...|      SC|  Caroline Gabriela |Theo Mario Victor...|              A-|Theo Mario Victor...|
|  0|Vila Sarney|65090-677|Sao Luis|097.627.958-49|10/09/1948|vicenteolivermont...|2a Travessa do Ri...|    MA|   71|Louise Beatriz |Vicente Oliver Mo...|   738|Virgem|           AB-|null|  04|60874-405|    Fortaleza|390.375.925-20| 11/05/1981|                null|      CE|       Tereza Bruna |Pietro Henrique d...|             AB-|Pietro Henrique d...|
|  0|Vila Sarney|65090-677|Sao Luis|097.627.958-49|10/09/1948|vicenteolivermont...|2a Travessa do Ri...|    MA|   71|Louise Beatriz |Vicente Oliver Mo...|   738|Virgem|           AB-|null|  05|79106-140| Campo Grande|756.005.387-40| 14/12/1941|     Rua Pato Branco|      MS|      Alice Leticia |Kaique Thiago de ...|              A-|Kaique Thiago de ...|
+---+-----------+---------+--------+--------------+----------+--------------------+--------------------+------+-----+---------------+--------------------+------+------+--------------+----+----+---------+-------------+--------------+-----------+--------------------+--------+--------------------+--------------------+----------------+--------------------+

In [0]:
dfl.limit(5).toPandas()

In [0]:
dfb.printSchema()
dfa.printSchema()

root
 |-- id_b: string (nullable = true)
 |-- cep_b: string (nullable = true)
 |-- cidade_b: string (nullable = true)
 |-- cpf_b: string (nullable = true)
 |-- data_nasc_b: string (nullable = true)
 |-- endereco_b: string (nullable = true)
 |-- estado_b: string (nullable = true)
 |-- mae_b: string (nullable = true)
 |-- nome_antigo: string (nullable = true)
 |-- tipo_sanguineo_b: string (nullable = true)
 |-- nome_b: string (nullable = true)

root
 |-- id: string (nullable = true)
 |-- bairro: string (nullable = true)
 |-- cep: string (nullable = true)
 |-- cidade: string (nullable = true)
 |-- cpf: string (nullable = true)
 |-- data_nasc: string (nullable = true)
 |-- email: string (nullable = true)
 |-- endereco: string (nullable = true)
 |-- estado: string (nullable = true)
 |-- idade: string (nullable = true)
 |-- mae: string (nullable = true)
 |-- nome: string (nullable = true)
 |-- numero: string (nullable = true)
 |-- signo: string (nullable = true)
 |-- tipo_sanguineo: string (nullable = true)
 |-- _c15: string (nullable = true)

## Criação de Funções para extração do primeiro e último nome

In [0]:
def criaPrimeiroNome(col):
  return col.split(' ') [0]
udf_criaPrimeiroNome = F.udf(criaPrimeiroNome, StringType())

In [0]:
def criaUltimoNome(col):
  return col.split(' ') [-1]
udf_criaUltimoNome = F.udf(criaUltimoNome, StringType())

## Criação das Colunas com Primeiros e Ultimos Nomes Fonéticos

In [0]:
dfl = dfl.withColumn('primeiro_nome_a', udf_criaPrimeiroNome(F.col('nome')))
dfl = dfl.withColumn('primeiro_nome_b', udf_criaPrimeiroNome(F.col('nome_b')))
dfl = dfl.withColumn('ultimo_nome_a', udf_criaUltimoNome(F.col('nome')))
dfl = dfl.withColumn('ultimo_nome_b', udf_criaUltimoNome(F.col('nome_b')))

In [0]:
dfl.show()

+---+-----------+---------+--------+--------------+----------+--------------------+--------------------+------+-----+---------------+--------------------+------+------+--------------+----+----+---------+-----------------+--------------+-----------+--------------------+--------+--------------------+--------------------+----------------+--------------------+---------------+---------------+-------------+-------------+
| id|     bairro|      cep|  cidade|           cpf| data_nasc|               email|            endereco|estado|idade|            mae|                nome|numero| signo|tipo_sanguineo|_c15|id_b|    cep_b|         cidade_b|         cpf_b|data_nasc_b|          endereco_b|estado_b|               mae_b|         nome_antigo|tipo_sanguineo_b|              nome_b|primeiro_nome_a|primeiro_nome_b|ultimo_nome_a|ultimo_nome_b|
+---+-----------+---------+--------+--------------+----------+--------------------+--------------------+------+-----+---------------+--------------------+------+------+--------------+----+----+---------+-----------------+--------------+-----------+--------------------+--------+--------------------+--------------------+----------------+--------------------+---------------+---------------+-------------+-------------+
|  0|Vila Sarney|65090-677|Sao Luis|097.627.958-49|10/09/1948|vicenteolivermont...|2a Travessa do Ri...|    MA|   71|Louise Beatriz |Vicente Oliver Mo...|   738|Virgem|           AB-|null|  01|69304-350|        Boa Vista|506.865.202-46| 22/11/1965|Avenida Mario Hom...|      RR|Isabelle Marcia A...|Felipe Bruno dos ...|             AB-|Felipe Bruno dos ...|        Vicente|         Felipe|     Monteiro|       Santos|
|  0|Vila Sarney|65090-677|Sao Luis|097.627.958-49|10/09/1948|vicenteolivermont...|2a Travessa do Ri...|    MA|   71|Louise Beatriz |Vicente Oliver Mo...|   738|Virgem|           AB-|null|  02|78132-360|    Varzea Grande|325.828.867-42|       null|      Rua Rio Cuiaba|      MT|       Alana Isadora|Marcio Heitor Sil...|             AB-|Marcio Heitor Sil...|        Vicente|         Marcio|     Monteiro|     Silveira|
|  0|Vila Sarney|65090-677|Sao Luis|097.627.958-49|10/09/1948|vicenteolivermont...|2a Travessa do Ri...|    MA|   71|Louise Beatriz |Vicente Oliver Mo...|   738|Virgem|           AB-|null|  03|88810-336|         Criciuma|284.536.218-88| 23/09/1961|Rua Romeu Lopes d...|      SC|  Caroline Gabriela |Theo Mario Victor...|              A-|Theo Mario Victor...|        Vicente|           Theo|     Monteiro|      Barbosa|
|  0|Vila Sarney|65090-677|Sao Luis|097.627.958-49|10/09/1948|vicenteolivermont...|2a Travessa do Ri...|    MA|   71|Louise Beatriz |Vicente Oliver Mo...|   738|Virgem|           AB-|null|  04|60874-405|        Fortaleza|390.375.925-20| 11/05/1981|                null|      CE|       Tereza Bruna |Pietro Henrique d...|             AB-|Pietro Henrique d...|        Vicente|         Pietro|     Monteiro|        Paula|
|  0|Vila Sarney|65090-677|Sao Luis|097.627.958-49|10/09/1948|vicenteolivermont...|2a Travessa do Ri...|    MA|   71|Louise Beatriz |Vicente Oliver Mo...|   738|Virgem|           AB-|null|  05|79106-140|     Campo Grande|756.005.387-40| 14/12/1941|     Rua Pato Branco|      MS|      Alice Leticia |Kaique Thiago de ...|              A-|Kaique Thiago de ...|        Vicente|         Kaique|     Monteiro|        Paula|
|  0|Vila Sarney|65090-677|Sao Luis|097.627.958-49|10/09/1948|vicenteolivermont...|2a Travessa do Ri...|    MA|   71|Louise Beatriz |Vicente Oliver Mo...|   738|Virgem|           AB-|null|  06|63030-450|Juazeiro do Norte|551.341.139-39| 16/02/1999| Avenida do Contorno|      CE|Elena Agatha Tere...|Gabriel Erick Oli...|              O+|Gabriel Erick Oli...|        Vicente|        Gabriel|     Monteiro|          Luz|
|  0|Vila Sarney|65090-677|Sao Luis|097.627.958-49|10/09/1948|vicenteolivermont...|2a Travessa do Ri...|    MA|   71|Louise Beatriz |Vicente Oliver Mo...|   738|Virgem|           AB-|null|  07|84172-370|           Castro|756.048.583-90| 11/03/1982|Rua Major Candido...|    null|Vanessa Camila Ni...|Luan Caue Anthony...|            null|Luan Caue Anthony...|        Vicente|           Luan|     Monteiro|         Mota|
|  0|Vila Sarney|65090-677|Sao Luis|097.627.958-49|10/09/1948|vicenteolivermont...|2a Travessa do Ri...|    MA|   71|Louise Beatriz |Vicente Oliver Mo...|   738|Virgem|           AB-|null|  08|69070-555|           Manaus|386.351.591-95| 13/01/1978|                null|      AM|Isabelle Maite Rosa |        Enzo D Rocha|            null|        Enzo D Rocha|        Vicente|           Enzo|     Monteiro|        Rocha|
|  0|Vila Sarney|65090-677|Sao Luis|097.627.958-49|10/09/1948|vicenteolivermont...|2a Travessa do Ri...|    MA|   71|Louise Beatriz |Vicente Oliver Mo...|   738|Virgem|           AB-|null|  09|20950-430|   Rio de Janeiro|885.264.747-31| 27/01/2001|         Rua do Amor|      RJ|      Sophie Bianca |Cesar Matheus Cau...|            null|Cesar Matheus Cau...|        Vicente|          Cesar|     Monteiro|    Rodrigues|
|  0|Vila Sarney|65090-677|Sao Luis|097.627.958-49|10/09/1948|vicenteolivermont...|2a Travessa do Ri...|    MA|   71|Louise Beatriz |Vicente Oliver Mo...|   738|Virgem|           AB-|null|  10|36071-020|     Juiz de Fora|489.611.821-96|       null|Rua Flavia Rios M...|      MG|Giovana Antonella...|   Caua Isaac Castro|            null|   Caua Isaac Castro|        Vicente|           Caua|     Monteiro|       Castro|
|  0|Vila Sarney|65090-677|Sao Luis|097.627.958-49|10/09/1948|vicenteolivermont...|2a Travessa do Ri...|    MA|   71|Louise Beatriz |Vicente Oliver Mo...|   738|Virgem|           AB-|null|  11|75063-120|         Anapolis|281.229.310-14| 08/11/1947|Avenida dos Palmares|      GO|Mariana Mirella N...|Gabriel Caua Marc...|            null|Gabriel Caua Marc...|        Vicente|        Gabriel|     Monteiro|     Caldeira|
|  0|Vila Sarney|65090-677|Sao Luis|097.627.958-49|10/09/1948|vicenteolivermont...|2a Travessa do Ri...|    MA|   71|Louise Beatriz |Vicente Oliver Mo...|   738|Virgem|           AB-|null|  12|78731-260|     Rondonopolis|492.264.809-74| 18/04/1969|      Rua Circular-2|      MT|     Rita Ayla Sara |Danilo Severino d...|              B+|Danilo Severino d...|        Vicente|         Danilo|     Monteiro|         Cruz|
|  0|Vila Sarney|65090-677|Sao Luis|097.627.958-49|10/09/1948|vicenteolivermont...|2a Travessa do Ri...|    MA|   71|Louise Beatriz |Vicente Oliver Mo...|   738|Virgem|           AB-|null|  13|77818-355|             null|816.876.443-90| 27/03/1972|       Rua Aparecida|      TO|       Louise Joana |   Samuel Noah Lopes|              O-|   Samuel Noah Lopes|        Vicente|         Samuel|     Monteiro|        Lopes|
|  0|Vila Sarney|65090-677|Sao Luis|097.627.958-49|10/09/1948|vicenteolivermont...|2a Travessa do Ri...|    MA|   71|Louise Beatriz |Vicente Oliver Mo...|   738|Virgem|           AB-|null|  14|05403-900|             null|327.630.596-86| 10/10/1984|Avenida Doutor En...|      SP|      Heloisa Luzia |Juan Raimundo Osv...|              B+|Juan Raimundo Osv...|        Vicente|           Juan|     Monteiro|      Cardoso|
|  0|Vila Sarney|65090-677|Sao Luis|097.627.958-49|10/09/1948|vicenteolivermont...|2a Travessa do Ri...|    MA|   71|Louise Beatriz |Vicente Oliver Mo...|   738|Virgem|           AB-|null|  15|69036-075|             null|181.410.022-95| 05/01/1973|   Beco Sao Pedro II|      AM|Jessica Jaqueline...|Leandro Cesar Jor...|              O-|Leandro Cesar Jor...|        Vicente|        Leandro|     Monteiro|      Drumond|
|  0|Vila Sarney|65090-677|Sao Luis|097.627.958-49|10/09/1948|vicenteolivermont...|2a Travessa do Ri...|    MA|   71|Louise Beatriz |Vicente Oliver Mo...|   738|Virgem|           AB-|null|  16|40720-479|             null|843.458.724-64| 12/09/1996|3a Travessa Osval...|      BA|Lara Sabrina Giov...|Caio Julio Kaue Lima|             AB+|Caio Julio Kaue Lima|        Vicente|           Caio|     Monteiro|         Lima|
|  0|Vila Sarney|65090-677|Sao Luis|097.627.958-49|10/09/1948|vicenteolivermont...|2a Travessa do Ri...|    MA|   71|Louise Beatriz |Vicente Oliver Mo...|   738|Virgem|           AB-|null|  17|65075-047|             null|134.836.403-39| 21/06/1963|Rua Professora La...|      MA|Leticia Isabelly ...|Guilherme Rafael ...|              A-|Guilherme Rafael ...|        Vicente|      Guilherme|     Monteiro|     Monteiro|
|  0|Vila Sarney|65090-677|Sao Luis|097.627.958-49|10/09/1948|vicenteolivermont...|2a Travessa do Ri...|    MA|   71|Louise Beatriz |Vicente Oliver Mo...|   738|Virgem|           AB-|null|  18|79041-061|             null|557.744.519-17| 09/02/1947|     Rua Jacarepagua|      MS|     Gabriela Sueli |Nicolas Edson Araujo|              O-|Nicolas Edson Araujo|        Vicente|        Nicolas|     Monteiro|       Araujo|
|  0|Vila Sarney|65090-677|Sao Luis|097.627.958-49|10/09/1948|vicenteolivermont...|2a Travessa do Ri...|    MA|   71|Louise Beatriz |Vicente Oliver Mo...|   738|Virgem|           AB-|null|  19|72236-503|             null|254.321.926-91| 25/05/1988|Quadra EQNP 30/34...|      DF|  Rita Rafaela Lara |Cesar Nelson Dani...|             AB+|Cesar Nelson Dani...|        Vicente|          Cesar|     Monteiro|       Britto|
|  0|Vila Sarney|65090-677|Sao Luis|097.627.958-49|10/09/1948|vicenteolivermont...|2a Travessa do Ri...|    MA|   71|Louise Beatriz |Vicente Oliver Mo...|   738|Virgem|           AB-|null|  20|72233-008|         Brasilia|806.443.633-80| 16/02/1941|Quadra QNP 20 Con...|      DF|   Nicole Aparecida |Rodrigo Erick Rob...|              B+|Rodrigo Erick Rob...|        Vicente|        Rodrigo|     Monteiro|      Freitas|
+---+-----------+---------+--------+--------------+----------+--------------------+--------------------+------+-----+---------------+--------------------+------+------+--------------+----+----+---------+-----------------+--------------+-----------+--------------------+--------+--------------------+--------------------+----------------+--------------------+---------------+---------------+-------------+-------------+
only showing top 20 rows

## Criação das colunas com nomes fonéticos

In [0]:
def criaMetaphone(col):
  return jellyfish.metaphone(col)
udf_criaMetaphone = F.udf(criaMetaphone, StringType())

In [0]:
dfl = dfl.withColumn('primeiro_nome_fonetico_a', udf_criaMetaphone(F.col('primeiro_nome_a')))
dfl = dfl.withColumn('primeiro_nome_fonetico_b', udf_criaMetaphone(F.col('primeiro_nome_b')))
dfl = dfl.withColumn('ultimo_nome_fonetico_a', udf_criaMetaphone(F.col('ultimo_nome_a')))
dfl = dfl.withColumn('ultimo_nome_fonetico_b', udf_criaMetaphone(F.col('ultimo_nome_b')))

In [0]:
dfl = dfl.withColumn('nome_fonetico_a', udf_criaMetaphone(F.col('nome')))
dfl = dfl.withColumn('nome_fonetico_b', udf_criaMetaphone(F.col('nome_b')))
dfl = dfl.withColumn('nome_fonetico_mae_a', udf_criaMetaphone(F.col('mae')))
dfl = dfl.withColumn('nome_fonetico_mae_b', udf_criaMetaphone(F.col('mae_b')))

In [0]:
dfl.show()

+---+-----------+---------+--------+--------------+----------+--------------------+--------------------+------+-----+---------------+--------------------+------+------+--------------+----+----+---------+-----------------+--------------+-----------+--------------------+--------+--------------------+--------------------+----------------+--------------------+---------------+---------------+-------------+-------------+------------------------+------------------------+----------------------+----------------------+---------------+--------------------+-------------------+-------------------+
| id|     bairro|      cep|  cidade|           cpf| data_nasc|               email|            endereco|estado|idade|            mae|                nome|numero| signo|tipo_sanguineo|_c15|id_b|    cep_b|         cidade_b|         cpf_b|data_nasc_b|          endereco_b|estado_b|               mae_b|         nome_antigo|tipo_sanguineo_b|              nome_b|primeiro_nome_a|primeiro_nome_b|ultimo_nome_a|ultimo_nome_b|primeiro_nome_fonetico_a|primeiro_nome_fonetico_b|ultimo_nome_fonetico_a|ultimo_nome_fonetico_b|nome_fonetico_a|     nome_fonetico_b|nome_fonetico_mae_a|nome_fonetico_mae_b|
+---+-----------+---------+--------+--------------+----------+--------------------+--------------------+------+-----+---------------+--------------------+------+------+--------------+----+----+---------+-----------------+--------------+-----------+--------------------+--------+--------------------+--------------------+----------------+--------------------+---------------+---------------+-------------+-------------+------------------------+------------------------+----------------------+----------------------+---------------+--------------------+-------------------+-------------------+
|  0|Vila Sarney|65090-677|Sao Luis|097.627.958-49|10/09/1948|vicenteolivermont...|2a Travessa do Ri...|    MA|   71|Louise Beatriz |Vicente Oliver Mo...|   738|Virgem|           AB-|null|  01|69304-350|        Boa Vista|506.865.202-46| 22/11/1965|Avenida Mario Hom...|      RR|Isabelle Marcia A...|Felipe Bruno dos ...|             AB-|Felipe Bruno dos ...|        Vicente|         Felipe|     Monteiro|       Santos|                    FSNT|                     FLP|                  MNTR|                  SNTS| FSNT OLFR MNTR|     FLP BRN TS SNTS|           LS BTRS |    ISBL MRX ANTNL |
|  0|Vila Sarney|65090-677|Sao Luis|097.627.958-49|10/09/1948|vicenteolivermont...|2a Travessa do Ri...|    MA|   71|Louise Beatriz |Vicente Oliver Mo...|   738|Virgem|           AB-|null|  02|78132-360|    Varzea Grande|325.828.867-42|       null|      Rua Rio Cuiaba|      MT|       Alana Isadora|Marcio Heitor Sil...|             AB-|Marcio Heitor Sil...|        Vicente|         Marcio|     Monteiro|     Silveira|                    FSNT|                     MRS|                  MNTR|                  SLFR| FSNT OLFR MNTR|        MRS HTR SLFR|           LS BTRS |           ALN ISTR|
|  0|Vila Sarney|65090-677|Sao Luis|097.627.958-49|10/09/1948|vicenteolivermont...|2a Travessa do Ri...|    MA|   71|Louise Beatriz |Vicente Oliver Mo...|   738|Virgem|           AB-|null|  03|88810-336|         Criciuma|284.536.218-88| 23/09/1961|Rua Romeu Lopes d...|      SC|  Caroline Gabriela |Theo Mario Victor...|              A-|Theo Mario Victor...|        Vicente|           Theo|     Monteiro|      Barbosa|                    FSNT|                       0|                  MNTR|                  BRBS| FSNT OLFR MNTR|      0 MR FKTR BRBS|           LS BTRS |         KRLN KBRL |
|  0|Vila Sarney|65090-677|Sao Luis|097.627.958-49|10/09/1948|vicenteolivermont...|2a Travessa do Ri...|    MA|   71|Louise Beatriz |Vicente Oliver Mo...|   738|Virgem|           AB-|null|  04|60874-405|        Fortaleza|390.375.925-20| 11/05/1981|                null|      CE|       Tereza Bruna |Pietro Henrique d...|             AB-|Pietro Henrique d...|        Vicente|         Pietro|     Monteiro|        Paula|                    FSNT|                     PTR|                  MNTR|                    PL| FSNT OLFR MNTR|       PTR HNRK T PL|           LS BTRS |           TRS BRN |
|  0|Vila Sarney|65090-677|Sao Luis|097.627.958-49|10/09/1948|vicenteolivermont...|2a Travessa do Ri...|    MA|   71|Louise Beatriz |Vicente Oliver Mo...|   738|Virgem|           AB-|null|  05|79106-140|     Campo Grande|756.005.387-40| 14/12/1941|     Rua Pato Branco|      MS|      Alice Leticia |Kaique Thiago de ...|              A-|Kaique Thiago de ...|        Vicente|         Kaique|     Monteiro|        Paula|                    FSNT|                      KK|                  MNTR|                    PL| FSNT OLFR MNTR|          KK 0K T PL|           LS BTRS |           ALS LTX |
|  0|Vila Sarney|65090-677|Sao Luis|097.627.958-49|10/09/1948|vicenteolivermont...|2a Travessa do Ri...|    MA|   71|Louise Beatriz |Vicente Oliver Mo...|   738|Virgem|           AB-|null|  06|63030-450|Juazeiro do Norte|551.341.139-39| 16/02/1999| Avenida do Contorno|      CE|Elena Agatha Tere...|Gabriel Erick Oli...|              O+|Gabriel Erick Oli...|        Vicente|        Gabriel|     Monteiro|          Luz|                    FSNT|                    KBRL|                  MNTR|                    LS| FSNT OLFR MNTR|  KBRL ERK OLFR T LS|           LS BTRS |     ELN AK0 TRSNH |
|  0|Vila Sarney|65090-677|Sao Luis|097.627.958-49|10/09/1948|vicenteolivermont...|2a Travessa do Ri...|    MA|   71|Louise Beatriz |Vicente Oliver Mo...|   738|Virgem|           AB-|null|  07|84172-370|           Castro|756.048.583-90| 11/03/1982|Rua Major Candido...|    null|Vanessa Camila Ni...|Luan Caue Anthony...|            null|Luan Caue Anthony...|        Vicente|           Luan|     Monteiro|         Mota|                    FSNT|                      LN|                  MNTR|                    MT| FSNT OLFR MNTR|      LN K AN0N T MT|           LS BTRS |       FNS KML NKL |
|  0|Vila Sarney|65090-677|Sao Luis|097.627.958-49|10/09/1948|vicenteolivermont...|2a Travessa do Ri...|    MA|   71|Louise Beatriz |Vicente Oliver Mo...|   738|Virgem|           AB-|null|  08|69070-555|           Manaus|386.351.591-95| 13/01/1978|                null|      AM|Isabelle Maite Rosa |        Enzo D Rocha|            null|        Enzo D Rocha|        Vicente|           Enzo|     Monteiro|        Rocha|                    FSNT|                     ENS|                  MNTR|                    RX| FSNT OLFR MNTR|            ENS T RX|           LS BTRS |        ISBL MT RS |
|  0|Vila Sarney|65090-677|Sao Luis|097.627.958-49|10/09/1948|vicenteolivermont...|2a Travessa do Ri...|    MA|   71|Louise Beatriz |Vicente Oliver Mo...|   738|Virgem|           AB-|null|  09|20950-430|   Rio de Janeiro|885.264.747-31| 27/01/2001|         Rua do Amor|      RJ|      Sophie Bianca |Cesar Matheus Cau...|            null|Cesar Matheus Cau...|        Vicente|          Cesar|     Monteiro|    Rodrigues|                    FSNT|                     SSR|                  MNTR|                 RTRKS| FSNT OLFR MNTR|     SSR M0S K RTRKS|           LS BTRS |            SF BNK |
|  0|Vila Sarney|65090-677|Sao Luis|097.627.958-49|10/09/1948|vicenteolivermont...|2a Travessa do Ri...|    MA|   71|Louise Beatriz |Vicente Oliver Mo...|   738|Virgem|           AB-|null|  10|36071-020|     Juiz de Fora|489.611.821-96|       null|Rua Flavia Rios M...|      MG|Giovana Antonella...|   Caua Isaac Castro|            null|   Caua Isaac Castro|        Vicente|           Caua|     Monteiro|       Castro|                    FSNT|                       K|                  MNTR|                  KSTR| FSNT OLFR MNTR|          K ISK KSTR|           LS BTRS |     JFN ANTNL LRS |
|  0|Vila Sarney|65090-677|Sao Luis|097.627.958-49|10/09/1948|vicenteolivermont...|2a Travessa do Ri...|    MA|   71|Louise Beatriz |Vicente Oliver Mo...|   738|Virgem|           AB-|null|  11|75063-120|         Anapolis|281.229.310-14| 08/11/1947|Avenida dos Palmares|      GO|Mariana Mirella N...|Gabriel Caua Marc...|            null|Gabriel Caua Marc...|        Vicente|        Gabriel|     Monteiro|     Caldeira|                    FSNT|                    KBRL|                  MNTR|                  KLTR| FSNT OLFR MNTR|KBRL K MRKS FNSS ...|           LS BTRS |       MRN MRL NTL |
|  0|Vila Sarney|65090-677|Sao Luis|097.627.958-49|10/09/1948|vicenteolivermont...|2a Travessa do Ri...|    MA|   71|Louise Beatriz |Vicente Oliver Mo...|   738|Virgem|           AB-|null|  12|78731-260|     Rondonopolis|492.264.809-74| 18/04/1969|      Rua Circular-2|      MT|     Rita Ayla Sara |Danilo Severino d...|              B+|Danilo Severino d...|        Vicente|         Danilo|     Monteiro|         Cruz|                    FSNT|                     TNL|                  MNTR|                   KRS| FSNT OLFR MNTR|      TNL SFRN T KRS|           LS BTRS |          RT AL SR |
|  0|Vila Sarney|65090-677|Sao Luis|097.627.958-49|10/09/1948|vicenteolivermont...|2a Travessa do Ri...|    MA|   71|Louise Beatriz |Vicente Oliver Mo...|   738|Virgem|           AB-|null|  13|77818-355|             null|816.876.443-90| 27/03/1972|       Rua Aparecida|      TO|       Louise Joana |   Samuel Noah Lopes|              O-|   Samuel Noah Lopes|        Vicente|         Samuel|     Monteiro|        Lopes|                    FSNT|                     SML|                  MNTR|                   LPS| FSNT OLFR MNTR|           SML N LPS|           LS BTRS |             LS JN |
|  0|Vila Sarney|65090-677|Sao Luis|097.627.958-49|10/09/1948|vicenteolivermont...|2a Travessa do Ri...|    MA|   71|Louise Beatriz |Vicente Oliver Mo...|   738|Virgem|           AB-|null|  14|05403-900|             null|327.630.596-86| 10/10/1984|Avenida Doutor En...|      SP|      Heloisa Luzia |Juan Raimundo Osv...|              B+|Juan Raimundo Osv...|        Vicente|           Juan|     Monteiro|      Cardoso|                    FSNT|                      JN|                  MNTR|                  KRTS| FSNT OLFR MNTR|  JN RMNT OSFLT KRTS|           LS BTRS |            HLS LS |
|  0|Vila Sarney|65090-677|Sao Luis|097.627.958-49|10/09/1948|vicenteolivermont...|2a Travessa do Ri...|    MA|   71|Louise Beatriz |Vicente Oliver Mo...|   738|Virgem|           AB-|null|  15|69036-075|             null|181.410.022-95| 05/01/1973|   Beco Sao Pedro II|      AM|Jessica Jaqueline...|Leandro Cesar Jor...|              O-|Leandro Cesar Jor...|        Vicente|        Leandro|     Monteiro|      Drumond|                    FSNT|                    LNTR|                  MNTR|                 TRMNT| FSNT OLFR MNTR|  LNTR SSR JRJ TRMNT|           LS BTRS |      JSK JKLN FLF |
|  0|Vila Sarney|65090-677|Sao Luis|097.627.958-49|10/09/1948|vicenteolivermont...|2a Travessa do Ri...|    MA|   71|Louise Beatriz |Vicente Oliver Mo...|   738|Virgem|           AB-|null|  16|40720-479|             null|843.458.724-64| 12/09/1996|3a Travessa Osval...|      BA|Lara Sabrina Giov...|Caio Julio Kaue Lima|             AB+|Caio Julio Kaue Lima|        Vicente|           Caio|     Monteiro|         Lima|                    FSNT|                       K|                  MNTR|                    LM| FSNT OLFR MNTR|           K JL K LM|           LS BTRS |       LR SBRN JFN |
|  0|Vila Sarney|65090-677|Sao Luis|097.627.958-49|10/09/1948|vicenteolivermont...|2a Travessa do Ri...|    MA|   71|Louise Beatriz |Vicente Oliver Mo...|   738|Virgem|           AB-|null|  17|65075-047|             null|134.836.403-39| 21/06/1963|Rua Professora La...|      MA|Leticia Isabelly ...|Guilherme Rafael ...|              A-|Guilherme Rafael ...|        Vicente|      Guilherme|     Monteiro|     Monteiro|                    FSNT|                   KLHRM|                  MNTR|                  MNTR| FSNT OLFR MNTR|  KLHRM RFL KFN MNTR|           LS BTRS |     LTX ISBL STFN |
|  0|Vila Sarney|65090-677|Sao Luis|097.627.958-49|10/09/1948|vicenteolivermont...|2a Travessa do Ri...|    MA|   71|Louise Beatriz |Vicente Oliver Mo...|   738|Virgem|           AB-|null|  18|79041-061|             null|557.744.519-17| 09/02/1947|     Rua Jacarepagua|      MS|     Gabriela Sueli |Nicolas Edson Araujo|              O-|Nicolas Edson Araujo|        Vicente|        Nicolas|     Monteiro|       Araujo|                    FSNT|                    NKLS|                  MNTR|                   ARJ| FSNT OLFR MNTR|       NKLS ETSN ARJ|           LS BTRS |           KBRL SL |
|  0|Vila Sarney|65090-677|Sao Luis|097.627.958-49|10/09/1948|vicenteolivermont...|2a Travessa do Ri...|    MA|   71|Louise Beatriz |Vicente Oliver Mo...|   738|Virgem|           AB-|null|  19|72236-503|             null|254.321.926-91| 25/05/1988|Quadra EQNP 30/34...|      DF|  Rita Rafaela Lara |Cesar Nelson Dani...|             AB+|Cesar Nelson Dani...|        Vicente|          Cesar|     Monteiro|       Britto|                    FSNT|                     SSR|                  MNTR|                   BRT| FSNT OLFR MNTR|    SSR NLSN TNL BRT|           LS BTRS |         RT RFL LR |
|  0|Vila Sarney|65090-677|Sao Luis|097.627.958-49|10/09/1948|vicenteolivermont...|2a Travessa do Ri...|    MA|   71|Louise Beatriz |Vicente Oliver Mo...|   738|Virgem|           AB-|null|  20|72233-008|         Brasilia|806.443.633-80| 16/02/1941|Quadra QNP 20 Con...|      DF|   Nicole Aparecida |Rodrigo Erick Rob...|              B+|Rodrigo Erick Rob...|        Vicente|        Rodrigo|     Monteiro|      Freitas|                    FSNT|                    RTRK|                  MNTR|                  FRTS| FSNT OLFR MNTR|  RTRK ERK RBRT FRTS|           LS BTRS |         NKL APRST |
+---+-----------+---------+--------+--------------+----------+--------------------+--------------------+------+-----+---------------+--------------------+------+------+--------------+----+----+---------+-----------------+--------------+-----------+--------------------+--------+--------------------+--------------------+----------------+--------------------+---------------+---------------+-------------+-------------+------------------------+------------------------+----------------------+----------------------+---------------+--------------------+-------------------+-------------------+
only showing top 20 rows

In [0]:
dfl.printSchema()

root
 |-- id: string (nullable = true)
 |-- bairro: string (nullable = true)
 |-- cep: string (nullable = true)
 |-- cidade: string (nullable = true)
 |-- cpf: string (nullable = true)
 |-- data_nasc: string (nullable = true)
 |-- email: string (nullable = true)
 |-- endereco: string (nullable = true)
 |-- estado: string (nullable = true)
 |-- idade: string (nullable = true)
 |-- mae: string (nullable = true)
 |-- nome: string (nullable = true)
 |-- numero: string (nullable = true)
 |-- signo: string (nullable = true)
 |-- tipo_sanguineo: string (nullable = true)
 |-- _c15: string (nullable = true)
 |-- id_b: string (nullable = true)
 |-- cep_b: string (nullable = true)
 |-- cidade_b: string (nullable = true)
 |-- cpf_b: string (nullable = true)
 |-- data_nasc_b: string (nullable = true)
 |-- endereco_b: string (nullable = true)
 |-- estado_b: string (nullable = true)
 |-- mae_b: string (nullable = true)
 |-- nome_antigo: string (nullable = true)
 |-- tipo_sanguineo_b: string (nullable = true)
 |-- nome_b: string (nullable = true)
 |-- primeiro_nome_a: string (nullable = true)
 |-- primeiro_nome_b: string (nullable = true)
 |-- ultimo_nome_a: string (nullable = true)
 |-- ultimo_nome_b: string (nullable = true)
 |-- primeiro_nome_fonetico_a: string (nullable = true)
 |-- primeiro_nome_fonetico_b: string (nullable = true)
 |-- ultimo_nome_fonetico_a: string (nullable = true)
 |-- ultimo_nome_fonetico_b: string (nullable = true)
 |-- nome_fonetico_a: string (nullable = true)
 |-- nome_fonetico_b: string (nullable = true)
 |-- nome_fonetico_mae_a: string (nullable = true)
 |-- nome_fonetico_mae_b: string (nullable = true)

## Criação da Função de Similaridade

In [0]:
def compare(primeiro_nome_fonetico_a, ultimo_nome_fonetico_a, nome_fonetico_mae_a, primeiro_nome_fonetico_b, ultimo_nome_fonetico_b, nome_fonetico_mae_b):
  sim = 0
  
  #comparando atributos nominais (Phyton 3)
  sim = jellyfish.jaro_winkler(primeiro_nome_fonetico_a.encode('utf-8'), primeiro_nome_fonetico_b.encode('utf-8'))
  sim += jellyfish.jaro_winkler(ultimo_nome_fonetico_a.encode('utf-8'), ultimo_nome_fonetico_b.encode('utf-8'))
  sim += jellyfish.jaro_winkler(nome_fonetico_mae_a.encode('utf-8'), nome_fonetico_mae_b.encode('utf-8'))
  
  #comparando atributos nominais (Phyton 2)
  #  sim = jellyfish.jaro_winkler(primeiro_nome_fonetico_a.encode('utf-8'), primeiro_nome_fonetico_b.encode('utf-8'))
  #  sim += jellyfish.jaro_winkler(unicode(ultimo_nome_fonetico_a), unicode(ultimo_nome_fonetico_b))
  #  sim += jellyfish.jaro_winkler(unicode(nome_fonetico_mae_a), unicode(nome_fonetico_mae_b))
  
  #Media aritmética simples
  sim = str(abs(float(sim/3)))
  
  return sim

udf_compare = F.udf(compare, StringType())

In [0]:
# import unicodedata

## Rodando Comparação

In [0]:
dfr = dfl.withColumn('similaridade', udf_compare(F.col('primeiro_nome_fonetico_a'), 
                                                 F.col('ultimo_nome_fonetico_a'), 
                                                 F.col('nome_fonetico_mae_a'), 
                                                 F.col('primeiro_nome_fonetico_b'),
                                                 F.col('ultimo_nome_fonetico_b'),
                                                 F.col('nome_fonetico_mae_b')))

In [0]:
dfr.show()

Py4JJavaError: ignored

In [0]:
dfr.select(['nome','nome_b','cpf','cpf_b', 'similaridade']).show()

Py4JJavaError: ignored

In [0]:
dfr.show()